@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#countdowntimer {
  font-size: 100px;
  position: absolute;
  left: 600px;
  top: 300px;
  background: white;
  font-weight: 600;
}

h1 {
  margin: 0;
}

.download-btn {
  background-color: #1abc9c;
  border: none;
  border-bottom: 3px solid #16a085;
  font-size: 2em;
  color: #fff;
  display: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 320ms ease-in-out;
}

.download-btn:hover, .download-btn:focus {
  background-color: #16a085;
}



.popuptext {
  width: 200px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-weight: 500;
  text-align: center;
  padding: 10px;
}
label {
  padding: 10px 0px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}

.form {

  width: 600px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background:#4CAF50;
}
.form button:hover,.form button:active,.form button:focus {
  background: #2E7D32;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}